.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .25rem;
  padding: .15rem;
  border-radius: 1rem;
  background: #e2e3eb;
  height: 1.5rem;
  min-width: 1.5rem;
  position: relative;

  .is-active & {
    background: #d5e1fc;
  }

  &:after {
    content: '';
    position: absolute;
    top: -.2rem;
    width: .8rem;
    background: #ff0000;
    height: .8rem;
    border-radius: .4rem;
    right: -.4rem;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: 0.5s opacity ease-in, 0.5s transform cubic-bezier(.68,-0.6,.32,1.6);
  }
}

.badge--has-new {
  &:after {
    opacity: 1;
    transform: translateY(0);
  }
}
