.datagrid,
.datagrid__inner,
.datagrid__header,
.datagrid__body {
  display: grid;
}

.datagrid__header {
  background: var(--color-whitesmoke);
}

.datagrid__header-item {
  margin: 0;
  padding: 0.5rem 1rem;
  height: 3rem;
  line-height: 1.25rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #222330;
}

.datagrid__row {
  display: grid;
  border-bottom: 1px solid var(--color-lightgray);
}

.datagrid__item {
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}
